.model-detials .row-4
{
    margin-top: 20px;
}
.model-detials .row-5
{
    border: none;
}
.paging{
    text-align: center;
}
.pagination .active a{
    background-color: #6b265a;
    border-color: #6b265a;
}
.model-detials-product-title{
    padding: 15px 0px;
    font-size: 18px;
    border-bottom: 1px #6b265a solid;
    color: #6b265a;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}